*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
}
.header{
    display: flex;
    justify-content:space-between;
    padding: 30px 60px;

}
.header_icon{
    width: 80px;
    height: 55px;
}
.ul_navigation{
    display: flex;
}
.list{
    padding-left: 40px;
}
.color{
    color: #707070;
}
.search_icon:last-child{
    margin-right:0;
}
.first_section{
    max-width: 1640px;
    margin: 0px 60px;
}
.first_section img{
    width:100%;
}